<h2>Curso Lista</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Codigo</th>
            <th>Nota</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let curso of cursos">
            <td><img [src]="curso.imageUrl" width="40" height="40"></td>
            <td>{{curso.name}}</td>
            <td>{{curso.price}}</td>
            <td>{{curso.code}}</td>
            <td>
                <app-star [rating]="curso.rating"></app-star>
            </td>

        </tr>
    </tbody>


</table>